.home-cover
  background-image url("../img/backgrounds/home-cover.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction column
  justify-content center
  height 528px
  padding-left 215px

  &-title
    color $wWhite
    font-size $wFontGiant
    letter-spacing 0.6px
    line-height 65px

    &-container
      margin-bottom 37px
      max-width 505px

.home-focusprocess
  background-image url("../img/backgrounds/home-focusprocess.jpg")
  background-position right
  background-repeat no-repeat
  background-size cover
  padding 90px 0 

.home-focus
  margin 0 0 95px 0

  &-title
    color $wStrongBlack
    font-size $wFontH2
    letter-spacing 4.7px
    line-height 37px
    text-align center
    text-transform uppercase
    -webkit-font-smoothing antialiased

    &-container
      max-width 548px
      margin-left 215px

  &-panels
    margin 36px auto 70px auto
    width 1025px

    & > .home-focus-subtitle-container
      height 72.6px
      margin-left 33px
      justify-content center

  &-subtitle
    align-items center
    color $wWhite
    display flex
    font-size 20px
    letter-spacing 0.5px
    line-height 26px
    transform skew(20deg)
    -webkit-font-smoothing antialiased

    &-columns
      display flex
      flex-direction row
      margin-top 19px
      padding-right 33px

      .home-focus-subtitle-container
        &:nth-child(1),
        &:nth-child(2)
          height 72.6px

        &:nth-child(1)
          margin-right 30px
          padding 0 48px
          width 514px

        &:nth-child(2)
          padding 0 18px
          width 484px

        .home-focus-subtitle:before
          content ""
          background-position center
          background-repeat no-repeat
          background-size contain

      .home-focus-subtitle-container:nth-child(1)
        .home-focus-subtitle:before
          background-image url("../img/icons/icono-almacenaje.png")
          height 45px
          padding-right 50px
          width 39px

      .home-focus-subtitle-container:nth-child(2)
        .home-focus-subtitle:before
          background-image url("../img/icons/icono-distribucion.png")
          height 44px
          padding-right 65px
          width 62px

    &-container
      align-items center
      background-image linear-gradient(to left, #3483c0, #286ba2)
      display flex
      flex-direction row
      position relative
      padding 18px 0
      transform: skew(-20deg)

  &-map
    display flex
    flex-direction row
    justify-content center

  &-img
    height auto
    max-width 686px
    width 85%

  &-info
    margin-left -65px

    & ul
      border-bottom solid 2px $wLightBlue
      border-top solid 2px $wLightBlue
      display flex
      flex-wrap wrap
      list-style none
      margin 0
      padding 10px
      width 386px

      & div
        width 50%

      & li
        color $wLightBlack
        font-size $wFontH4
        letter-spacing 1.2px
        line-height 24px
        text-transform uppercase

        & b
          color $wLightBlue

  &-special
    color $wLightBlue

  &-separator
    background-color $wGray
    height 1px
    width 100%

    &-container
      margin 60px 113px 0 113px

  & a
    display flex
    justify-content center
    margin-top 80px

.home-ourprocess
  background-color #fff
  box-shadow 0 20px 34px 0 rgba(0, 0, 0, 0.22)
  margin 0 auto
  max-width 1064px

  &-content
    align-items center
    display flex
    flex-direction column
    padding 66px 0 45px 0

  &-title
    color $wLightBlack
    font-size $wFontH2
    letter-spacing 4.7px
    text-transform uppercase

  &-cards-container
    display flex
    flex-wrap wrap
    margin-top 60px

  &-card
    height 177px
    transition all 0.3s
    width 188px

    &:hover
      transform scale(0.8)
      transition all 0.3s

    &-container
      width 188px

  &-arrow
    height 15px
    width 9px

    &-container
      margin 67px 25px 0 25px

  &-desc
    color $wLightBlack
    font-size $wFontH3
    letter-spacing 0.4px
    line-height 22px

    &-container
      margin-top 28px

  &-button-container
    margin-top 59px

.small-desc
  font-size $wFontH4

.home-separator
  &-desktop
    height auto
    width 100%

  &-mobile
    display none

.home-benefits
  background-image url("../img/backgrounds/home-benefits.jpg")
  background-position top left
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction row
  justify-content center
  padding 115px 0 90px 0

  &-left-section
    margin-right 90px

  &-title
    color $wStrongBlack
    font-size $wFontH2
    letter-spacing 5px
    line-height 47px
    text-transform uppercase

    &-container
      margin-bottom 28px

  &-img
    height auto
    width 345px

  &-icon
    &-one
      width 26px !important
    &-two
      width 30px !important

  &-info
    width 290px

    &:first-child
      margin-right 50px

    &-columns
      display flex
      flex-direction row
      margin-top 64px

    &-content
      cursor pointer
      display flex
      flex-direction row
      margin-bottom 50px

      &:hover .icon-purse,
      &:hover .icon-like,
      &:hover .icon-scalable,
      &:hover .icon-money,
      &:hover .icon-company
        transform scale(1.2)
        transition all 0.3s

    &-section
      margin 4px 0 0 20px

    &-title
      color $wLightBlack
      font-size $wFontH3
      letter-spacing 0.4px
      line-height 24px
      margin-bottom 4px

    &-desc
      color $wLightBlack
      font-size $wFontH4
      letter-spacing 0.5px
      line-height 18px

.icon
  &-purse,
  &-scalable
    height 26px

  &-like
    height 28px

  &-money
    height 20px

  &-company
    height 25px

.icon-purse,
.icon-like,
.icon-scalable,
.icon-money,
.icon-company
  transition all 0.3s

.home-benefits-mobile
  display none

.home-try
  align-items center
  background-image url("../img/backgrounds/home-try.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction column
  height 337px
  justify-content center

  &-title
    letter-spacing 5.7px
    text-align center
    text-transform uppercase

  &-title,
  &-subtitle
    color $wWhite
    font-size $wFontH1
    line-height 38px

  &-subtitle
    &-container
      margin 35px 0

.home-why
  background-image url("../img/backgrounds/why-wicore.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  color $wLightBlack
  height 433px

  &-info
    margin-left 10%
    max-width 260px
    padding 105px 0 0 0

  &-title
    font-size $wFontH2
    letter-spacing 0.5px

    &-container
      margin-bottom 20px

  &-desc
    font-size $wFontH3
    letter-spacing 0.5px
    line-height 25px

.home-video
  height 0
  overflow hidden
  padding-bottom 56.25%
  position relative

  & iframe,
  & object,
  & embed
    height 100%
    left 0
    position absolute
    top 0
    width 100%

@media screen and (max-width 1100px)
  .home-focus
    margin-top 30px

    &-title
      margin 0 auto
      width 550px

    &-panels
      max-width 514px
      width 80%

      & > .home-focus-subtitle-container
        margin-left 0
        padding 18px 25px
        text-align center

    &-subtitle
      &-columns
        flex-direction column
        padding-right 0

        & .home-focus-subtitle-container:nth-child(1)
          margin 0 0 19px 0

        & .home-focus-subtitle-container:nth-child(1),
        & .home-focus-subtitle-container:nth-child(2)
          width 100%

    &-map
      align-items center
      flex-direction column

    &-info
      margin 50px 0 0 0

@media screen and (min-width 951px)
  .home-video
    margin 0 14%

@media screen and (max-width 786px)
  .home-cover
    background-position -583px
    background-size cover
    height 450px
    padding-left 40px

    &-title
      font-size $wFontGiantM
      line-height 30px

  .home-focus
    &-title
      width 260px

    &-subtitle
      font-size 14px
      line-height 19px

      &-columns
        & .home-focus-subtitle-container
          padding 0 5% !important

        & .home-focus-subtitle-container:nth-child(1)
          .home-focus-subtitle:before
            height 33px
            width 50px

        & .home-focus-subtitle-container:nth-child(2)
          .home-focus-subtitle:before
            height 33px
            width 65px

  .home-focusprocess
    padding 20px 0

  .home-focus
    margin-bottom 0

    &-title
      font-size $wFontH2M
      line-height 25px

      &-container
        margin-left 40px

    &-separator
      &-container
        margin 50px 40px 0 40px

  .home-ourprocess
    margin 0 10px

    &-cards-container
      justify-content space-between
      margin-top 40px
      padding 0 15px

    &-card
      height auto
      width 100%

      &-container
        margin-bottom 20px
        width 48%

    &-desc
      font-size $wFontH3M
      line-height 18px

      &-container
        margin-top 10px

    &-arrow-container
      display none

    &-title
      font-size $wFontH2M
      text-align center

    &-button-container
      margin-top 20px

  .small-desc
    font-size $wFontH3M

  .home-separator
    &-desktop
      display none

    &-mobile
      display block
      height auto
      width 100%

  .home-benefits
    display none

    &-info-content
      margin 0 auto
      padding-top 30px
      width 240px

  .home-benefits-mobile
    display block
    margin 40px 0 30px 0

  .home-benefits
    &-img
      width 60%

    &-left-section
      margin-right 0

    &-title
      text-align center

    &-info
      &-content
        flex-direction column

      &-section
        margin 15px 0 0 0

    &-btn-container
      margin-top 30px
      text-align center

  .benefits-carousel
    &-arrows
      height 20px
      width 12px

  .benefits-carousel
    .owl-prev,
    .owl-next
      padding 10px

  .benefits-carousel
    .owl-nav
      display flex
      flex-direction row
      justify-content space-between
      margin 0 auto
      width 90px

  .home-try
    &-title,
    &-subtitle
      font-size $wFontH1M

      &-container
        margin 35px 10px
        text-align center

  .home-why
    background-position -66px
    height 370px

    &-info
      margin-left 34px
      max-width 190px

@media screen and (min-width 506px) and (max-width 862px)
  .home-cover
    background-position right

@media screen and (min-width 787px) and (max-width 944px)
  .home-ourprocess
    &-cards-container
      max-width 494px

@media screen and (max-width 380px)
  .home-focus
    &-info
      & ul
        width 220px

        & div
          width 100%

        & li
          text-align center

    &-subtitle
      &-columns
        .home-focus-subtitle-container:nth-child(1) .home-focus-subtitle:before,
        .home-focus-subtitle-container:nth-child(2) .home-focus-subtitle:before
          margin-left -10px
