.services
  margin-top 154px

  &-title
    color #3b3b3b
    font-size $wFontH2
    letter-spacing 5px
    text-transform uppercase
    text-align center

  &-separator
    background-color #e4e4e4
    height 1px
    width 100%

    &-container
      margin 57px 93px 48px 93px

  &-block
    align-items center
    background-image url("../img/backgrounds/services-block.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    flex-direction row
    height 92px
    justify-content center

    &:hover
      .services-block-title
        font-size remify(19px)
        transition 0.3s

    &-icon
      &-logistic
        height 34px
        width 34px

      &-operations,
      &-consultancy
        height 30px
        width 30px

      &-container
        width 34px

    &-title
      color #fff
      font-size $wFontH3
      letter-spacing 0.3px
      line-height 23px
      transition 0.3s

      &-container
        margin-left 17px

    &-subtitle
      color #fff
      font-size remify(22px)
      letter-spacing 0.6px
      line-height 47px
      text-align center

    &-container
      display flex
      flex-direction row
      justify-content center
      margin-bottom 87px

  &-logistic
    &-container
      display flex
      flex-direction column
      margin 0 9%

    &-content
      display flex
      flex-direction row

    &-img
      height 360px
      width 300px

    &-info
      color #272727
      font-size remify(15px)
      letter-spacing 0.5px
      line-height 22px
      padding 48px 0 0 61px

    &-paragraph
      margin 22px 0

      &-container
        max-width 495px
        text-align justify

    &-infographi
      height auto
      width 700px

      &-container
        margin 40px 0 0 110px
        overflow-x auto
        width 700px

  &-operations
    margin 100px 0 86px 0

    &-top
      display flex
      flex-direction row
      margin 0 9% 87px 0

    &-content
      margin-right 87px

    &-info
      color #272727
      font-size remify(15px)
      letter-spacing 0.5px
      line-height 22px
      margin 35px 0 0 155px
      padding-right 50px
      width 546px

    &-img
      height 350px
      width 363px

      &-container
        position relative

      &-decorator
        background-color #f9f9f9
        height 318px
        position absolute
        right -60px
        top -50px
        width 352px
        z-index -1

    &-icon
      &-container
        align-items center
        background-image url("../img/backgrounds/services-bg-icon.png")
        background-position center
        background-repeat no-repeat
        background-size cover
        display flex
        height 87px
        justify-content center
        margin-bottom 18px
        width 87px

      &-content
        align-items center
        display flex
        flex-direction column
        width 135px

      &-info
        color #545454
        font-size remify(16px)
        letter-spacing -0.2px
        line-height 22px
        text-align center

    &-subtitle
      color #3b3b3b
      font-size remify(20px)
      letter-spacing 0.6px
      line-height 30px
      text-align center

    &-icons
      &-container
        display flex
        flex-wrap wrap
        margin 80px auto 0 auto
        max-width 945px

    &-br
      display none

  &-banner
    align-items center
    background-image url("../img/backgrounds/services-separator.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    height 178px
    justify-content center
    margin-bottom 93px

    &-title
      color #fff
      font-size remify(36px)
      line-height 38px

  &-consultancy
    &-container
      display flex
      flex-direction row
      margin 0 9% 97px 9%

    &-img
      height 424px
      width 397px

  &-expertise
    display flex
    flex-direction row
    margin 0 auto 87px auto
    max-width 1056px
    overflow-x auto

    &-panel
      align-items flex-end
      background-color #438bc3
      display flex
      flex-direction column
      height 604px
      justify-content space-between
      padding 95px 37px 95px 0
      width 228px

      &-text
        color #fff
        font-size remify(22px)
        letter-spacing 0.5px
        line-height 27px

    &-title
      color #787878
      font-size remify(22px)
      letter-spacing 2.4px
      text-transform uppercase

      &-container
        margin 0 0 34px 66px

    &-text
      color #fff
      letter-spacing 0.4px
      line-height 27px

    &-decorator
      align-items center
      display flex
      height 43px
      margin 0 32px 9px 32px
      padding-left 34px

    &-img
      height 207px
      width 788px

      &-container
        height 207px
        margin 22px 20px 22px 20px

    &-infographi
      &-mobile
        display none

  &-success
    margin-bottom 140px

    &-title
      color #787878
      font-size remify(23px)
      letter-spacing 0.6px
      line-height 40px
      text-transform uppercase
      text-align center

    &-cards
      &-container
        display flex
        flex-wrap wrap
        margin 73px auto 63px auto
        max-width 1100px

    &-card:nth-child(2)
      margin 0 47px

    &-card
      border solid 1px #e5e5e5
      cursor pointer
      height 388px
      padding 30px
      transition all 0.3s
      width 335px

      &:hover
        border transparent
        box-shadow 0 16px 33px 0 rgba(0, 0, 0, 0.24)
        transition all 0.3s

      &-title,
      &-subtitle
        color #545454
        font-size remify(18px)
        letter-spacing 0.4px
        line-height 27px

      &-title
        &-container
          margin-bottom 9px

      &-subtitle
        font-size remify(16px)

      &-list
        color #545454
        font-size remify(13px)
        letter-spacing -0.1px
        line-height 20px
        padding-left 12px

      &-separator
        background-color #e9e9e9
        height 1px
        margin 15px 0
        width 100%

    &-icon
      &-optimization
        height 42px
        width 46px

      &-container
        margin-bottom 12px

      &-methodology
        height 41px
        width 40px

      &-implementation
        height 41px
        width 23px

    &-button-container
      display flex
      justify-content center
      margin 69px 0 0 0

.blue-text
  color #3482bf

.text-expertise
  &-a
    font-size remify(19px)

  &-b
    font-size remify(16px)

.decorator
  &-a
    background-color #1f537f

  &-b
    background-color #3976a9

  &-c
    background-color #62afea

  &-d
    background-color #4990c9
    margin-bottom 0

.icon
  &-forecast
    height 32px
    width 39px

  &-process
    height 37px
    width 31px

  &-catering
    height 38px
    width 38px

  &-budget
    height 31px
    width 35px

  &-customer
    height 42px
    width 40px

  &-inventories
    height 34px
    width 34px

  &-distribution
    height 33px
    width 40px


.special-title
  &-container
    background-image linear-gradient(to bottom, #3483c0, #286ba2)
    height 44px
    margin-top 21px
    position relative

  &-decorator
    border-bottom 22px solid #fff
    border-left 9px solid transparent
    border-right 9px solid #fff
    border-top 22px solid transparent
    bottom 0
    height 0
    position absolute
    right 0
    width 0

.special
  &-logistic
    width 324px

  &-operations
    margin-top 0
    width 696px

  &-consultancy
    width 244px

.block
  &-logistic
    width 269px

  &-operations
    margin 0 35px
    width 299px

  &-consultancy
    width 260px

@media screen and (max-width 768px)
  .services
    margin-top 120px

    &-separator
      &-container
        margin 45px 30px

    &-block
      justify-content flex-start
      padding-left 32px

      &-container
        align-items center
        flex-direction column

      &-subtitle
        line-height 24px

    &-logistic
      &-container
        flex-direction column
        margin-bottom 50px

      &-content
        flex-direction column

      &-paragraph
        margin 10px 0

      &-img
        height 280px
        width 233px

        &-container
          margin-top 30px
          text-align center

      &-info
        font-size remify(15px)
        line-height 18px
        padding 30px 0 0 0

      &-infographi
        &-container
          margin-left 0
          width 100%

    &-operations
      margin 60px 9% 30px 9%

      &-top
        flex-direction column
        margin-bottom 50px

      &-content
        margin-right 0

      &-info
        font-size remify(15px)
        line-height 18px
        margin 30px 0 0 0
        padding-right 0
        width auto

      &-img
        height 221px
        width 229px

        &-container
          margin-top 65px

        &-decorator
          height 180px
          right -20px
          top -30px
          width 180px

      &-icons
        &-container
          margin-top 50px
          max-width 230px

      &-icon
        &-container
          margin-bottom 10px

        &-content
          margin-bottom 15px
          width 115px

      &-br
        display block

    &-consultancy
      &-container
        flex-direction column
        margin-bottom 50px

      &-img
        height 260px
        width 243px

        &-container
          margin-top 30px

    &-banner
      margin-bottom 50px

      &-title
        max-width 250px
        text-align center

    &-success
      margin-top 30px

      &-card
        &:nth-child(2)
          margin 30px 0

    &-expertise
      display none

      &-infographi
        &-mobile
          display block
          overflow-x auto
          width 100%

  .block
    &-operations
      margin 10px 0

    &-logistic,
    &-operations,
    &-consultancy
      width 269px

  .special
    &-title
      &-container
        align-items center
        display flex
        justify-content center

    &-logistic,
    &-consultancy,
    &-operations
      width 260px

  .operations-subtitle
    font-size remify(15px)

@media screen and (min-width 769px) and (max-width 1180px)
  .services
    &-logistic
      &-container
        flex-direction column

    &-operations
      &-top
        flex-direction column

      &-img
        &-container
         margin 60px 0 0 155px

        &-decorator
          left 45px
          right initial
          top -30px

    &-success
      &-cards
        &-container
          max-width 717px

      &-card:nth-child(2)
        margin-right 0

      &-card:nth-child(3)
        margin-top 47px

@media screen and (min-width 769px) and (max-width 1050px)
  .services
    &-logistic
      &-infographi
        width initial

        &-container
          margin-left 5%

@media screen and (min-width 769px) and (max-width 876px)
  .services-block
    padding 0 30px

  .block
    &-logistic
      width 185px

    &-operations
      margin 0 25px
      width 294px

    &-consultancy
      width 195px

@media screen and (max-width 768px)
  .services
    &-success
      &-cards
        &-container
          max-width 336px

@media screen and (min-width 436px) and (max-width 575px)
  .services
    &-operations
      &-icons
        &-container
          max-width 345px

@media screen and (min-width 576px) and (max-width 959px)
  .services
    &-operations
      &-icons
        &-container
          max-width 460px
