{% extends "partials/base.njk" %}

{% block title %}Orderhive{% endblock %}

{% block content %}
  <section class="ful__container">
    <iframe id="WiCore" title="iframe WiCore" width="100%" height="100%" style="border: none;" src="https://my.orderhive.com/orders"></iframe>
  </section>
{% endblock %}
