{% extends "partials/base.njk" %}

{% block meta %}
<title>Inicio</title>
{% endblock %}

{% block content %}
<div>
  <div class="home-cover">
    <div class="home-cover-title-container">
      <h1 class="home-cover-title nunitosans-extrabold">Work on Your Business, Not in Your Business</h1>
    </div>
    <div>
      <a href="contactanos.html">
        <button class="wicore-button nunitosans-bold">contactar</button>
      </a>
      </div>
  </div>

  <div class="home-focusprocess">
    <!-- <div class="home-focus">
      <div class="home-focus-title-container">
        <h2 class="home-focus-title nunitosans-extrabold">Enfócate en hacer <span class="home-focus-special">crecer tu negocio</span> mientras nosotros nos encargamos de la operación</h2>
      </div>
      <div class="home-focus-separator-container">
        <div class="home-focus-separator"></div>
      </div>
    </div> -->

    <div class="home-focus">
      <h2 class="home-focus-title nunitosans-extrabold">almacenaje y distribución a nivel nacional:</h2>
      <section class="home-focus-panels">
        <div class="home-focus-subtitle-container">
          <span class="home-focus-subtitle nunitosans-bold">Contamos con instalaciones en 13 de las principales ciudades de México</span>
        </div>
        <div class="home-focus-subtitle-columns" data-aos="zoom-in" data-aos-duration="3000">
          <div class="home-focus-subtitle-container">
            <span class="home-focus-subtitle nunitosans-bold">Más de 68,000 m2 de área de almacenaje</span>
          </div>
          <div class="home-focus-subtitle-container">
            <span class="home-focus-subtitle nunitosans-bold">Con capacidad de distribución para cualquier necesidad</span>
          </div>
        </div>
      </section>

      <section class="home-focus-map">
        <img class="home-focus-img" src="/img/home/inicio-mapa.png">
        <div class="home-focus-info">
          <ul class="nunitosans-regular">
            <div>
              <li><b>1.</b> tijuana</li>
              <li><b>2.</b> hermosillo</li>
              <li><b>3.</b> culiacán</li>
              <li><b>4.</b> chihuahua</li>
              <li><b>5.</b> torreón</li>
              <li><b>6.</b> monterrey</li>
              <li><b>7.</b> guadalajara</li>
            </div>
            <div>
              <li><b>8.</b> san luis potosí</li>
              <li><b>9.</b> querétaro</li>
              <li><b>10.</b> cdmx</li>
              <li><b>11.</b> puebla</li>
              <li><b>12.</b> villahermosa</li>
              <li><b>13.</b> mérida</li>
            </div>
          </ul>
        </div>
      </section>
    </div>

    <div class="home-ourprocess">
      <div class="home-ourprocess-content">
        <div class="home-ourprocess-title-container">
          <h2 class="home-ourprocess-title nunitosans-extrabold">Conoce nuestro proceso</h2>
        </div>
        <div class="home-ourprocess-cards-container nunitosans-bold">
          <div class="home-ourprocess-card-container">
            <img class="home-ourprocess-card" src="img/home/we-pack.png">
            <div class="home-ourprocess-desc-container">
              <span class="home-ourprocess-desc">Almacenamos tu inventario</span>
            </div>
          </div>
          <div class="home-ourprocess-arrow-container">
            <img class="home-ourprocess-arrow" src="img/icons/arrow-icon.png">
          </div>
          <div class="home-ourprocess-card-container">
            <img class="home-ourprocess-card" src="img/home/to-stock.png">
            <div class="home-ourprocess-desc-container">
              <span class="home-ourprocess-desc small-desc">Recibimos las órdenes de compra de tus clientes</span>
            </div>
          </div>
          <div class="home-ourprocess-arrow-container">
            <img class="home-ourprocess-arrow" src="img/icons/arrow-icon.png">
          </div>
          <div class="home-ourprocess-card-container">
            <img class="home-ourprocess-card" src="img/home/we-received.png">
            <div class="home-ourprocess-desc-container">
              <span class="home-ourprocess-desc">Empacamos y gestionamos el envío</span>
            </div>
          </div>
          <div class="home-ourprocess-arrow-container">
            <img class="home-ourprocess-arrow" src="img/icons/arrow-icon.png">
          </div>
          <div class="home-ourprocess-card-container">
            <img class="home-ourprocess-card" src="img/home/we-deliver.png">
            <div class="home-ourprocess-desc-container">
              <span class="home-ourprocess-desc">Entregamos tus productos</span>
            </div>
          </div>
        </div>
        <div class="home-ourprocess-button-container">
          <a href="contactanos.html">
            <button class="wicore-button nunitosans-bold">Contáctanos</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-separator">
    <img class="home-separator-desktop" src="img/home/call-center.jpg">
    <img class="home-separator-mobile" src="img/home/call-center-mobile.jpg">
  </div>

  <div class="home-benefits">
    <div class="home-benefits-left-section">
      <div class="home-benefits-title-container">
        <h2 class="home-benefits-title">Beneficios</h2>
      </div>
      <img class="home-benefits-img" src="img/home/benefits.png">
    </div>
    <div class="home-benefits-info-columns nunitosans-bold">
      <div class="home-benefits-info">
        <div class="home-benefits-info-content">
          <div>
            <img class="home-benefits-icon-one icon-purse" src="img/icons/purse-icon.png">
          </div>
          <div class="home-benefits-info-section">
            <h3 class="home-benefits-info-title">Solo pagas cuando vendes</h3>
            <span class="home-benefits-info-desc nunitosans-regular">Logramos convertir los costos operativos a variables, así solo pagas cuando vendes.</span>
          </div>
        </div>
        <div class="home-benefits-info-content">
          <div>
            <img class="home-benefits-icon-one icon-like" src="img/icons/like-icon.png">
          </div>
          <div class="home-benefits-info-section">
            <h3 class="home-benefits-info-title">El mejor servicio para tu cliente</h3>
            <span class="home-benefits-info-desc nunitosans-regular">Contamos con un call center enfocado en la completa satisfacción del cliente.</span>
          </div>
        </div>
        <div class="home-benefits-info-content">
          <div>
            <img class="home-benefits-icon-one icon-scalable" src="img/icons/scalable-icon.png">
          </div>
          <div class="home-benefits-info-section">
            <h3 class="home-benefits-info-title">Escalabilidad</h3>
            <span class="home-benefits-info-desc nunitosans-regular">Nosotros te damos el soporte operativo para cualquier incremento que tenga tu operación.</span>
          </div>
        </div>
      </div>

      <div class="home-benefits-info">
        <div class="home-benefits-info-content">
          <div>
            <img class="home-benefits-icon-one icon-money" src="img/icons/money-icon.png">
          </div>
          <div class="home-benefits-info-section">
            <h3 class="home-benefits-info-title">No necesitas inversión</h3>
            <span class="home-benefits-info-desc nunitosans-regular">No necesitas realizar ninguna inversión en infraestructura, nosotros la hacemos por ti.</span>
          </div>
        </div>
        <div class="home-benefits-info-content">
          <div>
            <img class="home-benefits-icon-one icon-company" src="img/icons/company-icon.png">
          </div>
          <div class="home-benefits-info-section">
            <h3 class="home-benefits-info-title">No importa el tamaño de tu empresa</h3>
            <span class="home-benefits-info-desc nunitosans-regular">Siempre te proponemos las mejores soluciones.</span>
          </div>
        </div>
        <div>
          <a href="servicios.html">
            <button class="wicore-button nunitosans-bold">Servicios</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- \\\\\\\\\\\\\\\ Home benefits mobile version /////////////// -->
  <div class="home-benefits-mobile">
    <div class="home-benefits-left-section">
      <div class="home-benefits-title-container">
        <h2 class="home-benefits-title">Beneficios</h2>
      </div>
      <img class="home-benefits-img" src="img/home/benefits.png">
    </div>
    <div class="benefits-carousel owl-carousel nunitosans-bold">
      <div class="home-benefits-info-content">
        <div>
          <img class="home-benefits-icon-one icon-purse" src="img/icons/purse-icon.png">
        </div>
        <div class="home-benefits-info-section">
          <h3 class="home-benefits-info-title">Solo pagas cuando vendes</h3>
          <span class="home-benefits-info-desc nunitosans-regular">Logramos convertir los costos operativos a variables, así solo pagas cuando vendes.</span>
        </div>
      </div>
      <div class="home-benefits-info-content">
        <div>
          <img class="home-benefits-icon-one icon-like" src="img/icons/like-icon.png">
        </div>
        <div class="home-benefits-info-section">
          <h3 class="home-benefits-info-title">El mejor servicio para tu cliente</h3>
          <span class="home-benefits-info-desc nunitosans-regular">Contamos con un call center enfocado en la completa satisfacción del cliente.</span>
        </div>
      </div>
      <div class="home-benefits-info-content">
        <div>
          <img class="home-benefits-icon-one icon-scalable" src="img/icons/scalable-icon.png">
        </div>
        <div class="home-benefits-info-section">
          <h3 class="home-benefits-info-title">Escalabilidad</h3>
          <span class="home-benefits-info-desc nunitosans-regular">Nosotros te damos el soporte operativo para cualquier incremento que tenga tu operación.</span>
        </div>
      </div>
      <div class="home-benefits-info-content">
        <div>
          <img class="home-benefits-icon-one icon-money" src="img/icons/money-icon.png">
        </div>
        <div class="home-benefits-info-section">
          <h3 class="home-benefits-info-title">No necesitas inversión</h3>
          <span class="home-benefits-info-desc nunitosans-regular">No necesitas realizar ninguna inversión en infraestructura, nosotros la hacemos por ti.</span>
        </div>
      </div>
      <div class="home-benefits-info-content">
        <div>
          <img class="home-benefits-icon-one icon-company" src="img/icons/company-icon.png">
        </div>
        <div class="home-benefits-info-section">
          <h3 class="home-benefits-info-title">No importa el tamaño de tu empresa</h3>
          <span class="home-benefits-info-desc nunitosans-regular">Siempre te proponemos las mejores soluciones.</span>
        </div>
      </div>
    </div>
    <div class="home-benefits-btn-container">
      <a href="servicios.html">
        <button class="wicore-button nunitosans-bold">Servicios</button>
      </a>
    </div>
  </div>
  <!-- \\\\\\\\\\\\\\\ Home benefits end /////////////// -->

  <div class="home-try">
    <div>
      <h1 class="home-try-title nunitosans-extrabold">Te regalamos 5</h1>
      <div class="home-try-subtitle-container">
        <span class="home-try-subtitle gandhisans-italic">pedidos para que pruebes la <span class="gandhisans-bolditalic">calidad de nuestro servicio</span></span>
      </div>
    </div>
    <a href="contactanos.html">
      <button class="wicore-button nunitosans-bold">Quiero probar el servicio</button>
    </a>
  </div>

  <div class="home-why">
    <div class="home-why-info">
      <div class="home-why-title-container">
        <h3 class="home-why-title nunitosans-bold">¿Por qué Wicore?</h3>
      </div>
      <span class="home-why-desc nunitosans-regular">Te damos tranquilidad para que puedas enfocarte en hacer crecer tu empresa.</span>
    </div>
  </div>

  <div class="home-video">
    <iframe src="https://player.vimeo.com/video/246886026" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>  
</div>
{% endblock %}
