{% extends "partials/base.njk" %}

{% block title %}Nosotros{% endblock %}

{% set meta_description = "Vivimos comprometidos con nuestros clientes y por sus clientes. Cuidando cada pequeño detalle y cumpliendo las más altas exigencias del mercado." %}
{% set og_url = "http://wicore.mx/nosotros.html" %}
{% set og_title = "Nosotros | Wicore" %}
{% set og_description = "Vivimos comprometidos con nuestros clientes y por sus clientes. Cuidando cada pequeño detalle y cumpliendo las más altas exigencias del mercado." %}
{% set og_img = "http://wicore.mx/img/seo/seo-nosotros.png" %}
{% set og_img_width = "1386" %}
{% set og_img_height = "862" %}

{% block content %}
<section class="aboutus">
  <section>
    <div class="aboutus-title-container">
      <h1 class="aboutus-title nunitosans-extrabold">Nosotros</h1>
    </div>
    <h2 class="aboutus-subtitle nunitosans-semibold">Lo que hemos logrado</h2>
  </section>
  <section class="aboutus-cards-container nunitosans-bold">
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-shipments" src="img/icons/icon-shipments-blue.png" alt="Ícono de una camioneta de carga en color azul">
      </div>
      <span class="aboutus-card-title">Gestionar toda tu<br>operación.</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-like" src="img/icons/icon-like-blue.png" alt="Ícono de un pulgar arriba en color azul">
      </div>
      <span class="aboutus-card-title">Enfocados en la <br>completa satisfacción<br>de tu cliente.</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-saving" src="img/icons/icon-saving-blue.png" alt="Ícono de un billete en color azul">
      </div>
      <span class="aboutus-card-title">Hasta 30% de<br>ahorro sobre gasto<br>logístico.</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-increase" src="img/icons/icon-increase-blue.png" alt="Ícono de una bolsa en color azul">
      </div>
      <span class="aboutus-card-title">El 100% de nuestros<br>clientes incrementan<br>sus ventas.</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-time" src="img/icons/icon-time-blue.png" alt="Ícono de un reloj en color azul">
      </div>
      <span class="aboutus-card-title">Liberarte tiempo que<br>estabas en la<br>operación.</span>
    </div>
  </section>

  <section class="result">
    <p class="first-description nunitosans-semibold">WiCore es el resultado de varios años de liderar una de las operaciones más grandes de México y LATAM; así como el diseño e implementación de proyectos de consultoría centrados en la generación de valor a lo largo de toda la cadena de suministro.</p>
    <p class="second-description nunitosans-bold">Lo que nos convierte en el socio logístico perfecto</p>
  </section>

  <section class="benefits" id="aboutusBenefits">
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-socios-de-negocios.png" alt="Socio de Negocios">
      </div>
      <h3 class="benefits-title nunitosans-bold">Socio de Negocios</h3>
      <p class="benefits-description nunitosans-semibold">Objetivos compartidos, enfocados en la completa satisfacción del cliente.</p>
    </div>
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-sin-riesgo.png" alt="Sin riesgo">
      </div>
      <h3 class="benefits-title nunitosans-bold">Sin riesgo</h3>
      <p class="benefits-description nunitosans-semibold">
        Experiencia tomando operaciones de punta a punta
        <br>
        -Retail
        <br>
        -FMCG
        <br>
        -High-Tech
        <br>
        - ++
      </p>
    </div>
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-metodos-aprobados.png" alt="Métodos aprobados">
      </div>
      <h3 class="benefits-title nunitosans-bold">Métodos aprobados</h3>
      <p class="benefits-description nunitosans-semibold">Dedicado al éxito de su negocio al ofrecer soluciones basadas en necesidades estratégicas y tácticas.</p>
    </div>
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-best-in-class.png" alt="Best-in-class">
      </div>
      <h3 class="benefits-title nunitosans-bold">Best-in-class</h3>
      <p class="benefits-description nunitosans-semibold">El mayor rendimiento según los estándares de la industria.</p>
    </div>
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-solucion-completa.png" alt="Solución completa">
      </div>
      <h3 class="benefits-title nunitosans-bold">Solución completa</h3>
      <p class="benefits-description nunitosans-semibold">Solución logística de 360 ​​°, para que pueda centrarse en las ventas.</p>
    </div>
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-largo-plazo.png" alt="Largo plazo">
      </div>
      <h3 class="benefits-title nunitosans-bold">Largo plazo</h3>
      <p class="benefits-description nunitosans-semibold">Promovemos relaciones estratégicas a largo plazo.</p>
    </div>
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-operacion-bestin-class.png" alt="Operación Best-in-class">
      </div>
      <h3 class="benefits-title nunitosans-bold">Operación Best-in-class</h3>
      <p class="benefits-description nunitosans-semibold">
        - Más de 20 años de experiencia tomando diferentes operaciones.
        <br>
        - Historias de éxito con la “operación perfecta” con cero pérdidas.
      </p>
    </div>
    <div class="benefits-content">
      <div class="benefits-icon-container">
        <img class="benefits-icon" src="/img/icons/icono-consultoria.png" alt="Consultoría">
      </div>
      <h3 class="benefits-title nunitosans-bold">Consultoría</h3>
      <p class="benefits-description nunitosans-semibold">Diseño e implementación de proyectos de optimización, aumentando el valor para nuestros clientes.</p>
    </div>
  </section>

  <section class="aboutus-why">
    <div class="aboutus-why-title-container">
      <h2 class="aboutus-why-title nunitosans-bold">¿Quién es Wicore?</h2>
    </div>
    <ul class="aboutus-why-list nunitosans-regular">
      <div class="aboutus-why-list-container">
        <li>Vivimos comprometidos con nuestros clientes y por sus clientes. Cuidando cada pequeño detalle y cumpliendo las más altas exigencias del mercado.</li>
      </div>
      <div class="aboutus-why-list-container">
        <li>Nuestro negocio es la logística, el equipo sabe que la ejecución y la excelencia operativa son esenciales para el éxito de tu negocio.</li>
      </div>
      <div class="aboutus-why-list-container">
        <li>La confianza y la integridad son la base de nuestra cultura, no tenemos clientes, tenemos socios.</li>
      </div>
      <div class="aboutus-why-list-container">
        <li>Nos encantará conocerte, a tus clientes y las particularidades de tu negocio. Nos gusta construir en conjunto tu operación.</li>
      </div>
    </ul>
    <div class="aboutus-why-img-container">
      <img class="aboutus-why-img" src="img/about-us/about-us-why.png" alt="Imagen de un hombre con una caja para la sección ¿Qué es Wicore?">
    </div>
  </section>

  <section class="operations">
    <div class="operations-card">
      <img src="/img/icons/icono-operacion-best-in-class-v2.png" alt="Operación Best-in-Class">
      <div>
        <h3 class="nunitosans-bold">Operación Best-in-Class</h3>
        <p class="nunitosans-bold">
          - Más de 20 años de experiencia tomando diferentes operaciones.
          <br>
          - Historias de éxito con la “operación perfecta” con cero pérdidas.
        </p>
      </div>
    </div>
    <div class="operations-card">
      <img src="/img/icons/icono-consultoria-v2.png" alt="Consultoría">
      <div>
        <h3 class="nunitosans-bold">Consultoría</h3>
        <p class="nunitosans-bold">Diseño e implementación de proyectos de optimización, aumentando el valor para nuestros clientes.</p>
      </div>
    </div>
  </section>
</section>
{% endblock %}
