{% extends "partials/base.njk" %}

{% block meta %}
<title>Nosotros</title>
{% endblock %}

{% block content %}
<div class="aboutus">
  <div>
    <div class="aboutus-title-container">
      <h1 class="aboutus-title nunitosans-extrabold">Nosotros</h1>
    </div>
    <h2 class="aboutus-subtitle nunitosans-semibold">Lo que hemos logrado</h2>
  </div>
  <div class="aboutus-cards-container nunitosans-bold">
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-shipments" src="img/icons/icon-shipments-blue.png" alt="Ícono de una camioneta de carga en color azul">
      </div>
      <span class="aboutus-card-title">Más de<br>15, 000 Envíos</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-like" src="img/icons/icon-like-blue.png" alt="Ícono de un pulgar arriba en color azul">
      </div>
      <span class="aboutus-card-title">Más de 12, 000<br>clientes felices</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-saving" src="img/icons/icon-saving-blue.png" alt="Ícono de un billete en color azul">
      </div>
      <span class="aboutus-card-title">30% de Ahorro sobre<br>gasto de transporte</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-increase" src="img/icons/icon-increase-blue.png" alt="Ícono de una bolsa en color azul">
      </div>
      <span class="aboutus-card-title">90% de incremento<br>en ventas de nuestros<br>clientes</span>
    </div>
    <div class="aboutus-card">
      <div class="aboutus-icon-container">
        <img class="aboutus-icon-time" src="img/icons/icon-time-blue.png" alt="Ícono de un reloj en color azul">
      </div>
      <span class="aboutus-card-title">80% Tiempo liberado<br>de la operación a directores</span>
    </div>
  </div>

  <div class="aboutus-why">
    <div class="aboutus-why-title-container">
      <h1 class="aboutus-why-title nunitosans-bold">¿Quién es Wicore?</h1>
    </div>
    <ul class="aboutus-why-list nunitosans-regular">
      <div class="aboutus-why-list-container">
        <li>Vivimos <b>comprometidos</b> con nuestros <b>clientes</b> y por sus clientes. <b>Cuidando</b> cada pequeño <b>detalle</b> y <b>cumpliendo</b> las más altas <b>exigencias</b> del mercado.</li>
      </div>
      <div class="aboutus-why-list-container">
        <li>Nuestro negocio es la <b>logística</b>, el equipo sabe que la <b>ejecución</b> y la <b>excelencia operativa</b> son esenciales para el <b>éxito</b> de tu negocio.</li>
      </div>
      <div class="aboutus-why-list-container">
        <li>La <b>confianza</b> y la <b>integridad</b> son la base de nuestra <b>cultura</b>, los contratos son firmados con un <b>apretón de manos</b> cuando es posible. No tenemos clientes, tenemos <b>socios</b>.</li>
      </div>
      <div class="aboutus-why-list-container">
        <li>Nos encantará <b>conocerte</b>, a tus clientes y la forma en la que te gusta <b>tu negocio</b>. Nos gusta poner tus pedidos en cajas, a ti no.</li>
      </div>
    </ul>
    <div class="aboutus-why-img-container">
      <img class="aboutus-why-img" src="img/about-us/about-us-why.png" alt="Imagen de un hombre con una caja para la sección ¿Qué es Wicore?">
    </div>
  </div>

  <div class="aboutus-separator-container">
    <div class="aboutus-separator"></div>
  </div>

  <div class="aboutus-leaders">
    <div class="aboutus-leaders-card">
      <div class="aboutus-leaders-photo-container">
        <img class="aboutus-leaders-photo" src="img/about-us/about-us-josu.png" alt="Foto de Josu Gurtubay">
      </div>
      <div>
        <div class="aboutus-leaders-title-container">
          <h2 class="aboutus-leaders-title nunitosans-extrabold">Josu Gurtubay</h2>
        </div>
        <div class="aboutus-leaders-paragraph-container">
          <p class="aboutus-leaders-paragraph nunitosans-regular">
            En las madrugadas y los fines de semana: 2ndo lugar de Ironman a nivel nacional,<br>Entre semana: Consultor desarrollando decenas de proyectos de optimización de cadena de suministro para grandes empresas como Nike, Mars Choco, Janssen (Johnson & Johnson), ACH Foods, entre otras.<br>Al final del día se trata de optimizar recursos para recorrer largas distancias en el menor tiempo posible.
          </p>
        </div>
      </div>
      <div class="aboutus-leaders-in-container">
        <a href="https://www.linkedin.com/in/gurtubay/" target="_blank">
          <img class="aboutus-leaders-in" src="img/icons/in-icon.png" alt="Ícono de Linked In">
        </a>
      </div>
    </div>
    <div class="aboutus-leaders-card">
      <div class="aboutus-leaders-photo-container">
        <img class="aboutus-leaders-photo" src="img/about-us/about-us-pablo.png" alt="Foto de Pablo Dallafontana">
      </div>
      <div>
        <div class="aboutus-leaders-title-container">
          <h2 class="aboutus-leaders-title nunitosans-extrabold">Pablo Dallafontana</h2>
        </div>
        <div class="aboutus-leaders-paragraph-container">
            <p class="aboutus-leaders-paragraph nunitosans-regular">
            Profesionista dinámico con más de 20 años de experiencia en cadena de valor y comercial, liderando e integrando equipos, identificando causa y solucionando áreas de oportunidad de operación, servicio y comercial, en empresas de tecnología, alimentos, manufactura, consumo y servicio, entre otras.
          </p>
        </div>
      </div>
      <div class="aboutus-leaders-in-container">
        <a href="https://www.linkedin.com/in/pablo-dallafontana-62b06842/" target="_blank">
          <img class="aboutus-leaders-in" src="img/icons/in-icon.png" alt="Ícono de Linked In">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
