<!DOCTYPE html>
<html lang="es-MX">
  <head>

    {% include 'partials/metatags.njk' %}

    {% block meta %}{% endblock %}

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link runat="server" rel="shortcut icon" href="img/favicon/wicore-favicon.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicon/wicore-favicon.png" type="image/ico"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="canonical" href="http://wicore.mx/" />
    <title>{% block title %}{% endblock %} | Wicore</title>

    {% include 'partials/googleTagManagerScript.njk' %}

  </head>
  <body>

    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    {% include 'partials/googleTagManagerNoScript.njk' %}

    {% include 'partials/hubspotEmbedCode.njk' %}

  </body>
</html>
