<footer class="site-footer nunitosans-semibold">
  <div>
    <div>
      <a href="index.html">
        <img class="site-footer-logo" src="img/logos/wicore-blue-logo.png" alt="Logo para el footer">
      </a>
    </div>
    <span class="site-footer-text">©Copyright, Wicore.<br>2018</span>
  </div>
  <div class="site-footer-info-section">
    <div class="site-footer-info-content">
      <div class="site-footer-titles-container">
        <h1 class="site-footer-titles nunitosans-extrabold">Hablemos</h1>
      </div>
      <div class="site-footer-text site-footer-column">
        <span><a href="mailto:hola@wicore.mx">hola@wicore.mx</a></span>
        <span></span>
      </div>
    </div>
    <div class="site-footer-info-content">
      <div class="site-footer-titles-container">
        <h1 class="site-footer-titles nunitosans-extrabold">Encuéntranos</h1>
      </div>
      <div class="site-footer-text">
        <div class="first-col-info">
          <a href="https://goo.gl/maps/hpLiJpnTefq" target="_blank">
            <span><span class="nunitosans-bold">Centro de Distribución</span><br>Parque Industrial Tultipark II.<br>Tultitlán Edo. México CP 54948</span>
          </a>
        </div>
        <div>
          <a href="https://goo.gl/maps/1E1c4aNpGXz" target="_blank">
            <span><span class="nunitosans-bold">Oficinas</span><br>Torre del Árbol - Boulevard Manuel<br>Ávila Camacho #184, Piso 17, Reforma<br>Social, Miguel Hidalgo, Ciudad de México</span>
          </a>
        </div>
      </div>
    </div>
    <div class="site-footer-column">
      <div class="site-footer-titles-container">
        <h1 class="site-footer-titles nunitosans-extrabold">Conócenos</h1>
      </div>
      <div class="site-footer-text">
        <a href="servicios.html">
          <span class="site-footer-link {% if section == 'servicios' %} footer-link-active {% endif %}">Servicios</span>
        </a>
        <a href="nosotros.html">
          <span class="site-footer-link {% if section == 'nosotros' %} footer-link-active {% endif %}">Nosotros</span>
        </a>
        <a href="contactanos.html">
          <span class="site-footer-link {% if section == 'contacto' %} footer-link-active {% endif %}">Contacto</span>
        </a>
      </div>
    </div>
    <div>
      <div class="site-footer-titles-container">
        <h1 class="site-footer-titles nunitosans-extrabold">Síguenos</h1>
      </div>
      <div class="site-footer-row">
        <div class="site-footer-column">
          <a href="https://www.linkedin.com/company/wicoremx/" target="_blank">
            <img class="site-footer-icon" src="img/icons/in-icon.png" alt="Ícono de Linked In">
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com/WiCore-325975511257347/" target="_blank">
            <img class="site-footer-icon" src="img/icons/fb-icon.svg" alt="Ícono de Facebook">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
