<footer class="site-footer">
  <div>
    <a class="site-footer-link {% if section == 'servicios' %} footer-active {% endif %}" href="servicios.html">
      <span>Servicios</span>
    </a>
    <a class="site-footer-link {% if section == 'nosotros' %} footer-active {% endif %}" href="nosotros.html">
      <span>Nosotros</span>
    </a>
    <a class="site-footer-link {% if section == 'contacto' %} footer-active {% endif %}" href="contacto.html">
      <span>Contacto</span>
    </a>
  </div>
</footer>
