<nav class="site-navbar nunitosans-extrabold {% if section == 'contactanos' %} nav-strongblue {% elif section == 'servicios' %} nav-strongblue {% elif section == 'nosotros' %} nav-strongblue {% elif section == 'probar-servicio' %} nav-strongblue {% endif %}">
  <div>
    <a href="/">
      <img class="site-navbar-logo" src="img/logos/wicore-white-logo.png" alt="Logo para el navbar">
    </a>
  </div>
  <div class="navbar-option-link-container">
    <a href="/" class="navbar-option-link {% if section == 'index' %} active-link active-link-scroll {% endif %}">
      <div class="navbar-option-link-content">
        <span>Inicio</span>
        <div class="link-decorator {% if section == 'index' %} decorator-active {% endif %}"></div>
      </div>
    </a>
    <a href="servicios.html" class="navbar-option-link {% if section == 'servicios' %} active-link active-link-scroll {% endif %}">
      <div class="navbar-option-link-content">
        <span>Servicios</span>
        <div class="link-decorator {% if section == 'servicios' %} decorator-active {% endif %}"></div>
        </div>
    </a>
    <a href="nosotros.html" class="navbar-option-link {% if section == 'nosotros' %} active-link active-link-scroll {% endif %}">
      <div class="navbar-option-link-content">
        <span>Nosotros</span>
        <div class="link-decorator {% if section == 'nosotros' %} decorator-active {% endif %}"></div>
      </div>
    </a>
    <a href="http://blog.wicore.mx/" class="navbar-option-link">
      <div class="navbar-option-link-content">
        <span>Blog</span>
        <div class="link-decorator {% if section == 'blog' %} decorator-active {% endif %}"></div>
      </div>
    </a>
    <a href="contactanos.html" class="navbar-option-link {% if section == 'contactanos' %} active-link active-link-scroll {% endif %}">
      <div class="navbar-option-link-content">
        <span>Contáctanos</span>
        <div class="link-decorator {% if section == 'contacto' %} decorator-active {% endif %}"></div>
      </div>
    </a>
  </div>
  <div class="navbar-phone-container">
    <div class="navbar-phone-content">
      <a class="navbar-phone nunitosans-extrabold" href="https://meetings.hubspot.com/josu" target="_blank">Agendar llamada</a>
    </div>
  </div>
  <div data-attribute="" class="navbar-hamburguer-visibility"  id="hamburgerMenu">
    <div class="navbar-hamburguer" data-attribute="">
      <div class="align-content-hamburguer" data-attribute="">
        <div class="line-hamburguer-base line-hamburguer-lg" data-attribute=""></div>
        <div class="line-hamburguer-base line-hamburguer-lg margin-vertical-4px" data-attribute=""></div>
        <div class="line-hamburguer-base line-hamburguer-md" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="/" data-attribute="">
          <img class="hamburger-logo" src="img/logos/wicore-white-logo.png" data-attribute="" alt="Logo para el menú hamburguesa">
        </a>
      </div>
      <div class="hamburger-close-container" id="hideHamburger">
        <img class="hamburger-close" src="img/icons/close-menu.png" alt="Ícono para cerrar el menú hamburguesa">
      </div>
    </div>
    <div class="hamburger-menu-body nunitosans-regular" data-attribute="">
      <a data-attribute="" href="/" class="hamburger-option-link">
        <div class="hamburger-text-container">
          <span class="hamburger-text {% if section == 'index' %} hamburger-active {% endif %}">Inicio</span>
        </div>
      </a>
      <a data-attribute="" href="servicios.html" class="hamburger-option-link">
        <div class="hamburger-text-container">
          <span class="hamburger-text {% if section == 'servicios' %} hamburger-active {% endif %}">Servicios</span>
        </div>
      </a>
      <a data-attribute="" href="nosotros.html" class="hamburger-option-link">
        <div class="hamburger-text-container">
          <span class="hamburger-text {% if section == 'nosotros' %} hamburger-active {% endif %}">Nosotros</span>
        </div>
      </a>
      <a data-attribute="" href="http://blog.wicore.mx/" class="hamburger-option-link">
        <div class="hamburger-text-container">
          <span class="hamburger-text {% if section == 'blog' %} hamburger-active {% endif %}">Blog</span>
        </div>
      </a>
      <a data-attribute="" href="contactanos.html" class="hamburger-option-link">
        <div class="hamburger-text-container">
          <span class="hamburger-text {% if section == 'contactanos' %} hamburger-active {% endif %}">Contáctanos</span>
        </div>
      </a>
      <a data-attribute="" class="navbar-phone nunitosans-regular" href="https://meetings.hubspot.com/josu" target="_blank">Agendar llamada</a>
    </div>
  </div>
</nav>
