@font-face {
  font-family: 'GandhiSans';
  src: url('../fonts/GandhiSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GandhiSans-Italic.woff') format('woff'),
    url('../fonts/GandhiSans-Italic.ttf')  format('truetype'),
    url('../fonts/GandhiSans-Italic.svg#Roboto-Light') format('svg');
  font-weight: $regular;
  font-style: italic;
}

@font-face {
  font-family: 'GandhiSans';
  src: url('../fonts/GandhiSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GandhiSans-BoldItalic.woff') format('woff'),
    url('../fonts/GandhiSans-BoldItalic.ttf')  format('truetype'),
    url('../fonts/GandhiSans-BoldItalic.svg#Roboto-Light') format('svg');
  font-weight: $bold;
  font-style: italic;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Black.woff') format('woff'),
    url('../fonts/NunitoSans-Black.ttf')  format('truetype'),
    url('../fonts/NunitoSans-Black.svg#Roboto-Light') format('svg');
  font-weight: $black;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Bold.woff') format('woff'),
    url('../fonts/NunitoSans-Bold.ttf')  format('truetype'),
    url('../fonts/NunitoSans-Bold.svg#Roboto-Light') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-ExtraBold.woff') format('woff'),
    url('../fonts/NunitoSans-ExtraBold.ttf')  format('truetype'),
    url('../fonts/NunitoSans-ExtraBold.svg#Roboto-Light') format('svg');
  font-weight: $extrabold;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-ExtraLight.woff') format('woff'),
    url('../fonts/NunitoSans-ExtraLight.ttf')  format('truetype'),
    url('../fonts/NunitoSans-ExtraLight.svg#Roboto-Light') format('svg');
  font-weight: $extralight;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Light.woff') format('woff'),
    url('../fonts/NunitoSans-Light.ttf')  format('truetype'),
    url('../fonts/NunitoSans-Light.svg#Roboto-Light') format('svg');
  font-weight: $light;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Regular.woff') format('woff'),
    url('../fonts/NunitoSans-Regular.ttf')  format('truetype'),
    url('../fonts/NunitoSans-Regular.svg#Roboto-Light') format('svg');
  font-weight: $regular;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-SemiBold.woff') format('woff'),
    url('../fonts/NunitoSans-SemiBold.ttf')  format('truetype'),
    url('../fonts/NunitoSans-SemiBold.svg#Roboto-Light') format('svg');
  font-weight: $semibold;
  font-style: normal;
}

.gandhisans-bolditalic
  font-family 'GandhiSans'
  font-weight $bold
  font-style italic

.gandhisans-italic
  font-family 'GandhiSans'
  font-weight $regular
  font-style italic

.nunitosans-black
  font-family 'NunitoSans'
  font-weight $black
  font-style normal

.nunitosans-bold
  font-family 'NunitoSans'
  font-weight $bold
  font-style normal

.nunitosans-extrabold
  font-family 'NunitoSans'
  font-weight $extrabold
  font-style normal

.nunitosans-extralight
  font-family 'NunitoSans'
  font-weight $extralight
  font-style normal

.nunitosans-light
  font-family 'NunitoSans'
  font-weight $light
  font-style normal

.nunitosans-regular
  font-family 'NunitoSans'
  font-weight $regular
  font-style normal

.nunitosans-semibold
  font-family 'NunitoSans'
  font-weight $semibold
  font-style normal
