// COLORS
$errorColor = #ff3636
$successColor = #149a14

$wGray = #dedede
$wLightBlack = #545454
$wStrongBlack = #4b4b4b
$wLightBlue = #3483c0
$wStrongBlue = #1d58a1
$wWhite = #ffffff

// Base font-size
$baseFontSize = 16

$wFontGiant = remify(45px)
$wFontH1 = remify(32px)
$wFontH2 = remify(25px)
$wFontH3 = remify(16px)
$wFontH4 = remify(14px)
$wFontH5 = remify(12px)

$wFontGiantM = remify(30px)
$wFontH1M = remify(26px)
$wFontH2M = remify(20px)
$wFontH3M = remify(14px)
$wFontH4M = remify(12px)
$wFontH5M = remify(10px)

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black